.top-right-gradient {
  position: fixed;
  top: 0;
  right: 0;
  width: 40%;
  height: 40%;
  background: radial-gradient(
    circle at top right,
    rgba(30, 78, 216, 0.6),
    transparent 70%
  );
  filter: blur(40px);
  z-index: -1;
}

.bottom-left-gradient {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 40%;
  height: 40%;
  background: radial-gradient(
    circle at bottom left,
    rgba(120, 58, 220, 0.6),
    transparent 70%
  );
  filter: blur(40px);
  z-index: -1;
}

header {
  padding: 20px 120px;
}

header h5 {
  background-color: rgba(59, 62, 255, 0.205);
  color: #7c8ee4;
  padding: 5px;
  border-radius: 5px;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: fit-content;
}
header h1 {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.tools {
  display: flex;
  gap: 1rem;
}

.tools div p {
  background-color: rgba(59, 62, 255, 0.205);
  color: #a5b4fc;
  padding: 4px;
  border-radius: 5px;
  font-weight: 600;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.keterangan {
  display: flex;
  color: rgb(183, 180, 187);
  gap: 1rem;
}

.keterangan div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 15px;
}

main {
  padding: 0px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.content .image {
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  position: relative;
  background-color: rgba(20, 24, 36, 0.6);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.main-image img {
  width: 100%;
}

.thumb {
  margin-top: 40px;
  display: flex;
  gap: 0.5rem;
}

.thumb img {
  width: 90px;
}

.thumb-image {
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s ease;
}

.thumb-image:hover,
.thumb-image.active {
  opacity: 1;
}

.box {
  padding: 10px;
}

.box-satu {
  margin-bottom: 10px;
  color: white;
  padding: 20px;
  background-color: rgba(20, 24, 36, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: fit-content;
}

.box-dua {
  color: white;
  padding: 20px;
  background-color: rgba(20, 24, 36, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: fit-content;
}
.box-deskripsi {
  color: white;
  margin: 30px 120px;
  padding: 20px;
  background-color: rgba(20, 24, 36, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.1);
  height: fit-content;
}

.box-content div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);
}

.box-deskripsi p {
  color: rgb(212, 213, 230);
  font-family: "poppins", sans-serif;
}

.container-tombol {
  display: flex;
  margin: 30px 120px;
  gap: 1rem;
}

.container-tombol a {
  text-decoration: none;
  color: white;
}

.tombol {
  background-color: rgba(138, 95, 255, 0.84);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  border: 1px solid transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.tombol.dua {
  border: 1px solid rgba(138, 95, 255, 0.84);
  background-color: transparent;
}

.tombol.satu:hover {
  background-color: transparent;
  border: 1px solid rgba(138, 95, 255, 0.84);
}
.tombol.dua:hover {
  background-color: rgba(138, 95, 255, 0.84);
}
@media (max-width: 1100px) {
  .thumb img {
    width: 90px;
  }

  header {
    padding: 20px;
  }
  .box-deskripsi {
    color: white;
    margin: 20px;
    padding: 20px;
    background-color: rgba(20, 24, 36, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: fit-content;
  }
  .container-tombol {
    display: flex;
    margin: 20px;
  }
  .content {
    grid-template-columns: repeat(1, 1fr);
  }
}
