*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: var(--background-color);
}

:root {
    --primary-color: rgba(138, 95, 255, 0.84);
    --secondary-color: #232222;
    --background-color: #0a0e1a;
    --box-shadow-xl:0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1)
}


nav { 
    background-color: transparent;
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    font-weight: 700;
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
}

.menu {
    display: none;
}

nav ul {
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    transition: all;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition-duration: 0.5s;
}


nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: .5rem;
    color: white;
    border-bottom: 0px solid transparent;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

nav ul li a:hover{
    transform: scale(0.9);
    color: gray;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

.icon {
    display: none;
}
.home {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.isi-home {
    padding: 35px;
}

.isi-home h1 {
    font-size: 35px;
    font-weight: 800;
}
.isi-home h2 {
    color: var(--primary-color);
}

.container-paragraf{
    max-width: 500px;
}

.container-image img {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0 10px 15px -3px rgba(30, 78, 216, 0.6), 
    0 4px 6px -2px rgba(120, 58, 220, 0.6);
}

.container-tombol {
    display: flex;
    gap: 1rem;
    margin-top: 10px;
    cursor: pointer;
}

.container-tombol a {
    text-decoration: none;
    font-weight: 700;
}

.tombol.satu {
    background-color: var(--primary-color);
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    border: 2px solid transparent;
}

.tombol.satu:hover {
    background-color: transparent;
    border: 2px solid var(--primary-color);
}

.tombol.satu:hover p {
    color: var(--primary-color);
}

.tombol.satu p {
    color: black;
}

.tombol.dua {
    border: 2px solid var(--primary-color);
    padding: 10px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.tombol.dua:hover {
    background-color: var(--primary-color);
}

.tombol.dua:hover p {
    color: black;
}
.tombol.dua p {
    color: var(--primary-color);
}

.container-results {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 2rem;
    position: relative;
    /* background-color: #00abf0; */
    height: 30vh;
}

.container-results .judul {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
}

.result .deskripsi {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container-results .judul h1 {
    font-size: 60px;
}


.container-results p {
    font-weight: 700;
    font-size: 20px;
}

.container-Keahlian {
    padding: 100px;
    background-color: #0a2230;
}
.container-tools {
    margin-top: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cardTools {
    width: 300px;
    display: flex;
    gap: 0.5rem;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cardTools.html {
    background-color: rgba(240, 58, 58, 0.842);
    padding: 10px;
}
.cardTools.css {
    background-color: rgb(62, 62, 255);
    padding: 10px;
}

.cardTools.js {
    background-color: rgb(214, 214, 25);
    padding: 10px;
}
.cardTools.tailwind {
    background-color: white;
    padding: 10px;
}

.cardTools.tailwind h4 {
    color: rgb(15, 174, 174);
}

.cardTools.mysql {
    background-color: rgb(27, 27, 104);
    padding: 10px;
}

.cardTools.github {
    background-color: white;
}

.cardTools.github h4 {
    color: black;
}



#services {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 4rem;
    align-items: center;
}

#services .deskripsi-content {
    width: 80%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.down {
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
    -moz-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -o-transform: translateY(50px);
}
.card-service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.card-service p {
    font-size: 12px;
}
.card-service.one {
    background: linear-gradient(145deg, rgba(120, 58, 220, 0.6), transparent);   
}

.card-service.two {
    background: linear-gradient(to bottom, transparent 50%, rgba(61, 25, 118, 0.6) 100%); 
} 

.card-service p {
    width: 80%;
}

.card-service i {
    color: #00abf0;
    font-size: 50px;
}
.container-project {
    padding: 100px;
}


.container {
    max-width: 1200px;
    margin: 150px auto;
}


.portfolio-heading {
    text-align: center;
    margin-bottom: 40px;
}

.portfolio-heading h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.portfolio-heading p {
    line-height: 170%;
    width: 70%;
    margin: 0 auto;
}

.portfolio-heading p span {
    color: rgb(100, 158, 209);
    font-weight: 800;
}

.kategori{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    border: 1.5px solid rgba(61, 25, 118, 0.6);
    border-radius: 20px;
    padding: 10px;
    height: 100px;
    width: 70%;
    margin: auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: linear-gradient(925deg, rgba(120, 58, 220, 0.6), transparent);
}

.kategori .content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    height: 100%;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    cursor: pointer;
}

.kategori .content:hover {
    background-color: rgba(140, 68, 255, 0.6);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    transform: scaleY(1.1);
    -webkit-transform: scaleY(1.1);
    -moz-transform: scaleY(1.1);
    -ms-transform: scaleY(1.1);
    -o-transform: scaleY(1.1);
}

.content.aktif {
    background-color: rgba(90, 37, 176, 0.6);
}

.container-grid {
    background-color: #0a2230;
    width: fit-content;
}

.projects-grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 60px;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.hidden {
    opacity: 0;
    transform: translateY(20px);
    pointer-events: none;
    position: absolute;
}

.project-card {
    background-color: rgb(22, 12, 44);
    border: 1px solid rgb(20, 20, 80);
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 400px;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    background-color: rgb(50, 11, 101);
}

.project-image {
    background-color: rgb(30, 30, 60);
}

.project-content {
    padding: 20px;
}

.project-tags {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tag {
    background-color: rgba(57, 139, 190, 0.2);
    color: rgb(100, 158, 209);
    font-size: 0.8rem;
    padding: 4px 10px;
    border-radius: 50px;
    font-weight: 600;
}

.project-title {
    font-size: 1.3rem;
    margin-bottom: 10px;
    color: white;
}

.project-description {
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.9rem;
    line-height: 160%;
    margin-bottom: 20px;
}

.project-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-project {
    display: flex;
    align-items: center;
    gap: 8px;
    color: rgb(57, 139, 190);
    font-weight: 600;
    font-size: 0.9rem;
}

.view-project a {
    text-decoration: none;
    color: #00abf0;
}

.project-date {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
}

.container-sertifikat {
    height: auto;
    padding: 50px;
}

.container-card-sertif {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.container-card-sertif img {
    width: 400px;
}

.sertif {
    width: 400px;
    position: relative;
}

.sertif .deskripsi {
    position: absolute;
    padding: 20px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--background-color);
    opacity: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
}

.container-contact {
    padding: 50px;
}
.container-contact form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: black;
}

.container-contact form input {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    outline: none;
    border: none;
    padding: 10px 20px;
    width: 380px;
    height: 100px;
    background-color: #0a2230;
}

.container-contact form input[type="text"] {
    width: 780px;
    height: 200px;
}

.container-contact form input[type="submit"] {
    width: 200px;
    height: 50px;
    background-color: #00abf0;
}

.container-contact .nama {
    display: flex;
    gap: 1rem;
}

footer {
    background-color: #0a2230;
    padding: 80px;
    width: 100%;
}

footer .content-footer {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}


footer .judul-web h1 {
    margin-bottom: 15px;
}
footer .judul-web .ikon {
    display: flex;
    gap: 1rem;
    margin-top: 6px;
}

footer .judul-web .ikon .logo-ikon {
    color: black;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

footer .judul-web .ikon .logo-ikon:hover {
    color: gray;
}

footer .navigasi h1 {
    margin-bottom: 15px;
}
footer ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

footer ul li a {
    text-decoration: none;
    color: white;
    display: flex;
    transition: all;
    -webkit-transition: all;
    -moz-transition: all;
    -ms-transition: all;
    -o-transition: all;
    transition-duration: 0.5s;
}

footer ul li a:hover {
    color: gray;
}

footer .sosial-media h1 {
    margin-bottom: 15px;
}

footer .sosial-media p a {
    text-decoration: none;
    color: white;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

footer .sosial-media p a:hover {
    color: gray;
}

footer .copyright {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid;
    padding: 20px;
}

.input-nama {
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-email {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    position: relative;
}

.input-nama label {
    position: absolute;
    bottom: 55px;
    left: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    color: white;
}

.input-nama input:focus ~ label {
    transform: translateY(-15px);
    font-size: 15px;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    color: gray;
}

.input-email label {
    position: absolute;
    bottom: 55px;
    left: 20px;
    font-size: 20px;
    font-weight: 600;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    color: white;
}

.input-email input:focus ~ label {
    transform: translateY(-15px);
    font-size: 15px;
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -o-transform: translateY(-15px);
    color: gray;
}


@media (max-width: 1200px) {
    .container-results {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        height: 60vh;
    }
}


@media (max-width: 768px) {
    .menu {
        display: block;
    }

    .home {
        height: auto;
    }
    nav {
        /* background-color: #091f2e; */
        padding: 20px;
    }

    nav .list {
        position: absolute;
        flex-direction: column;
        top: 70px;
        right: -999px;
        background-color: #091f2e;
        padding: 90px;
        border-radius: 0px 0px 25px 25px;
        -webkit-border-radius: 0px 0px 25px 25px;
        -moz-border-radius: 0px 0px 25px 25px;
        -ms-border-radius: 0px 0px 25px 25px;
        -o-border-radius: 0px 0px 25px 25px;
        box-shadow: var(--box-shadow-xl);
}

    nav .list.aktif {   
        right: 0;
    }

    .icon {
        display: block;
    }
    .home {
        gap: 5rem;
        flex-direction: column;
    }

    .isi-home {
        padding: 0px 30px;
        padding-top: 100px;
    }

    .isi-home h1 {
        margin-top: 90px;
        font-size: 30px;

    }

    .isi-home h2 {
        margin-bottom: -100px;
        font-size: 20px;
    }

    .container-image img {
        width: 250px;
        margin-bottom: 40px;
    }   

    .container-results .judul h1 {
        font-size: 30px;
    }

    .container-results {
        justify-content: center;
        align-items: center;
        height: 40vh;
    }
     
    .container-results p {
        font-weight: 700;
        font-size: 20px;
    }

    .container-results .judul .deskripsi .sub {
        display: none;
    }

    #services {
        flex-wrap: wrap;
        padding: 30px;
    }

    #services .deskripsi-content {
        width: 100%;
    }

    .content {
        padding: 40px;
    }
    .card {
        width: 300px;
    }

    .card .card-img img {
        width: 280px;
    }

    .container-card-sertif img {
        width: 300px;
    }
    
    .sertif {
        width: 300px;
        position: relative;
    }

    .sertif .deskripsi h1{
        font-size: 20px;
    }

    .container-contact form input {
        padding: 10px 20px;
        width: 180px;
        height: 120px;
    }
    
    .container-contact form input[type="text"] {
        /* padding: 70px 300px; */
        width: 380px;
        height: 200px;
    }

    .input-nama {
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
        position: relative;
    }
    .input-email {
        display: flex;
        flex-direction: column;
        background-color: var(--background-color);
        position: relative;
    }
    
    .input-nama label {
        position: absolute;
        bottom: 68px;
        left: 20px;
        font-size: 18px;
        font-weight: 600;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        color: white;
    }
    
    .input-nama input:focus ~ label {
        transform: translateY(-10px);
        font-size: 15px;
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        color: gray;
}
    
    .input-email label {
        position: absolute;
        bottom: 68px;
        left: 20px;
        font-size: 18px;
        font-weight: 600;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        color: white;
    }
    
    .input-email input:focus ~ label {
        transform: translateY(-15px);
        font-size: 15px;
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
        color: gray;
    }
}


@media (max-width: 1000px) {
    footer .content-footer{
        flex-direction: column;
        gap: 5rem;
    }

    footer .copyright {
        text-align: left;
    }
}

@media (max-width: 480px) {

    .container-results h1{
        font-size: 10px;
    }
    .container-contact form input {
        width: 140px;
        height: 160px;
        background-color: #0a2230;
    }
    
    .container-contact form input[type="text"] {
        width: 300px;
        height: 200px;
    }

    .container-image img {
        width: 200px;
    }

    .input-nama label {
        bottom: 100px;
    }
    .input-email label {
        bottom: 100px;
    }

    .content {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .down {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
}
}

.top-right-gradient {
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
    height: 40%;
    background: radial-gradient(circle at top right, rgba(30, 78, 216, 0.6), transparent 70%);
    filter: blur(40px);
}

.top-left-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 40%;
    background: radial-gradient(circle at top right, rgba(30, 78, 216, 0.6), transparent 70%);
    filter: blur(40px);
}

.bottom-right-gradient {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 40%;
    background: radial-gradient(circle at bottom left, rgba(98, 0, 255, 0.6), transparent 70%);
    filter: blur(40px);
    -webkit-filter: blur(40px);
}

.bottom-right-mid-gradient {
    position: absolute;
    bottom: 50;
    right: 0;
    width: 10%;
    height: 90%;
    background: radial-gradient(circle at bottom left, rgba(98, 0, 255, 0.6), transparent 70%);
    filter: blur(40px);
    -webkit-filter: blur(40px);
}

.bottom-mid-gradient {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 40%;
    background: radial-gradient(circle at bottom left, rgba(119, 35, 255, 0.6), transparent 70%);
    filter: blur(80px);
    z-index: -999px;
    -webkit-filter: blur(80px);
}

.mid-left-gradient {
    position: absolute;
    bottom: 50;
    left: 90;
    width: 10%;
    height: 60%;
    background: radial-gradient(circle at bottom left, rgba(120, 58, 220, 0.6), transparent 70%);
    filter: blur(40px);
    -webkit-filter: blur(40px);
}
.mid-right-gradient {
    position: absolute;
    bottom: 50;
    right: 90;
    width: 10%;
    height: 60%;
    background: radial-gradient(circle at bottom left, rgba(120, 58, 220, 0.6), transparent 70%);
    filter: blur(40px);
    -webkit-filter: blur(40px);
}